* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

html {
    background: #b3b3b3;
    padding: 5px;
}

body {
    background: #b3b3b3;
    padding: 5px;
    margin: 0;
  }
  
.flex-container {
    background: white;
    padding: 10px;
    border: 5px solid black;
    height: 1300px;
    display: flex;
    flex-direction: column-reverse; /* bij ROW begint main axis van LINKS naar RECHTS... bij COLUMN van BOVEN naar ONDER*/
    flex-wrap: wrap; /* Dit zorgt er voor dat de elementen zich aanpassen aan het scherm.*/
    align-items: flex-end; /*Beschrijft hoe de cross axis */
    justify-content: center; /* BESCHRIJFT HOE DE MAIN AXIS GAAT */
  }

.item-1 {
    background: #ff7300;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    flex-grow: 1; /* zorgt dat het item mee groeit als je de website aanpast. je kan dit aanpassen van 1 naar 4. Indien hoger wordt het sneller mee groter*/
}

.item-2 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 250px;
    font-size: 1.8rem;
    align-self: flex-start; /*Align self = zo verplaats je de item zelf, niet alles in 1 keer*/
}

.item-3 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    height: 250px;
}

.item-4 {
    background: #f5c096;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.item-5 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
}

.item-6 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
}